<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.wuxie.crowdfunding.mapper.TActivityMapper">
    <resultMap id="BaseResultMap" type="team.wuxie.crowdfunding.domain.TActivity">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <idArg column="activity_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="enabled" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>

    <select id="selectAllByQuery" resultMap="BaseResultMap">
        SELECT a.*, ac.name as categoryName from t_activity a
        LEFT JOIN t_activity_category ac
        ON a.category_id = ac.category_id
        WHERE 1=1
        <if test="query != null">
            <if test="query.categoryId != null">
                AND a.category_id = #{query.categoryId}
            </if>
            <if test="query.name != null and query.name != ''">
                AND a.name like CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.enabled != null">
                AND a.enabled = #{query.enabled}
            </if>
        </if>
    </select>
</mapper>