<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.wuxie.crowdfunding.mapper.TGoodsTypeMapper">
    <resultMap id="BaseResultMap" type="team.wuxie.crowdfunding.domain.TGoodsType">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <idArg column="type_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="type_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type_img" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>

    <select id="countByTypeName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select COUNT(1) from t_goods_type where type_name = #{typeName,jdbcType=VARCHAR}
    </select>

    <select id="selectAllLike" resultMap="BaseResultMap">
        SELECT * from t_goods_type
        WHERE 1 = 1
        <if test="typeName != null">
            OR type_name like CONCAT('%',#{typeName,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <update id="updateStatus">
        UPDATE t_goods_type SET update_time = NOW(), status = #{status,jdbcType=BIT}, update_id = #{updateId,jdbcType=INTEGER}
        WHERE type_id = #{typeId,jdbcType=INTEGER}
    </update>
</mapper>