<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.wuxie.crowdfunding.mapper.TIntegralMapper">
    <resultMap id="BaseResultMap" type="team.wuxie.crowdfunding.domain.TIntegral">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <idArg column="integral_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="integral_type" jdbcType="TINYINT" javaType="team.wuxie.crowdfunding.domain.IntegralType"
                 typeHandler="team.wuxie.crowdfunding.util.mybatis.typehandler.IntegralTypeHandler"/>
            <arg column="in_out" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="amount" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
</mapper>