<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.wuxie.crowdfunding.mapper.TRedPocketMapper">
  <resultMap id="BaseResultMap" type="team.wuxie.crowdfunding.domain.TRedPocket">
    <!--
      WARNING - @mbggenerated
    -->
    <constructor>
      <idArg column="pocket_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pocket_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="source_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pocket_source" javaType="team.wuxie.crowdfunding.domain.enums.PocketSource" jdbcType="TINYINT" typeHandler="team.wuxie.crowdfunding.util.mybatis.typehandler.PocketSourceTypeHandler" />
      <arg column="rebate" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="full_money" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pocket_status" javaType="team.wuxie.crowdfunding.domain.enums.PocketStatus" jdbcType="TINYINT" typeHandler="team.wuxie.crowdfunding.util.mybatis.typehandler.PocketStatusTypeHandler" />
      <arg column="start_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="end_date" javaType="java.util.Date" jdbcType="DATE" />
    </constructor>
  </resultMap>
  <resultMap id="RedPocketVo" type="team.wuxie.crowdfunding.vo.RedPocketVo">
  	 <result column="pocket_id" property="pocketId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="pocket_name" property="pocketName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="rebate" property="rebate" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <result column="full_money" property="fullMoney" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <result column="user_id" property="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="pocket_status" property="pocketStatus"  javaType="team.wuxie.crowdfunding.domain.enums.PocketStatus" jdbcType="TINYINT" typeHandler="team.wuxie.crowdfunding.util.mybatis.typehandler.PocketStatusTypeHandler" />
      <result column="start_date" property="startDate" javaType="java.util.Date" jdbcType="DATE" />
      <result column="end_date" property="endDate" javaType="java.util.Date" jdbcType="DATE" />
  </resultMap>
  <select id="selectByUserIdAndStatus" resultMap="RedPocketVo">
  	select * from t_red_pocket where user_id =  #{userId,jdbcType=INTEGER} and pocket_status = #{status,jdbcType=TINYINT,typeHandler=team.wuxie.crowdfunding.util.mybatis.typehandler.PocketStatusTypeHandler}
  </select>
</mapper>